.content {
    width: 80%;
    height: 100vh;
    margin: 2% auto;
    overflow: hidden;
}

#bio {
    height: 90vh;
    width: 80%;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#profile-details {
    padding: 2%;
}