
:root {
    --main-bg-color: #151965;
    --secondary-bg-color: #151965;
    --tertiary-bg-color: #515585;
    --extra-bg-color: #46b5d1;
  }
  *{
      color: azure;
  }
  
body{
    margin: 0 200px;
    background-color: var(--main-bg-color);
}
.nav{
    height: 5vh;
}
.logo{
    color: var(--main-bg-color);
}
.form-group label{
    color: var(--main-bg-color);
}
.footer *{
    color: var(--main-bg-color);

}
.footerSection{
    display: flex;
    justify-content: space-around;
}
#login{
    margin-top: 20px;
}
.home{
    float: right;
}
