<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" href="styles/dashboard.css">
    </head>
    <body>
        <div class="container">
                <section>
                        <nav class="navbar navbar-light bg-light">
                            <span class="navbar-brand mb-0 h1 logo">SecretApp</span>
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png" alt="header logo" height="100px" class="header-image">
                        </nav>
                    </section>
                    
                    <section class="dashboard">
                        <div class="dashboard-div">
                        <div class="dashboard-profile">
                            <h6>name name</h6>
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png" alt="" height="100px" class="dashboard-profile-image">
                        </div>
                        <div class="dashboard-wall">
                            <h5>school name</h5>
                            <p class="location">Location Location</p>
                            <p class="need">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, odio quod? Magni obcaecati a, veritatis quam aut, possimus voluptates architecto minus nam sunt ipsam? Quod sed iusto maiores voluptatibus accusamus!</p>
                            <p class="date">1298-01-01</p>
                        </div>
                    </div>
                    </section>
            
                    <section class="footer">
                            <footer class="footerSection py-5">
                                    <span class="mb-0 h4 logo">SecretApp</span>
                                </footer>
            
                    </section>
        </div>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="scripts/dashboard.js" async defer></script>
    </body>
</html>