<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/landing-page.css">
</head>

<body>
    <div class="main-container">
        <section>
            <nav class="navbar navbar-light bg-light">
                <span class="mb-0 h1 logo">EduConnect</span>
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png" alt="header logo" height="70px" class="header-image">
            </nav>
        </section>

        <section class="heroSection">
            <div class="jumbotron jumbotron-fluid d-flex justify-content-around">
                <div class="d-inline-flex flex-column col-md-8 col-lg-5">
                    <h1 class="pl-4 pb-0">EduConnect</h1>
                    <h3 class="pl-4">Education is the thing that can make the world better</h3>
                    <hr class="ml-2">
                    <p class="px-4 py-md-0 py-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptate quaerat, ipsa iste, ipsam eligendi aliquid nemo distinctio dolorem exercitationem cum dicta. Quasi amet perspiciatis totam corrupti dicta impedit eum?
                    </p>
                    <div class="d-flex justify-content-around d-md-block pl-4">
                        <a href="signup.html"><button class="btn btn-primary">Join Us</button></a>
                    </div>
                 
                </div>
                <div class="buttons">
                        <div>If you are already a member</div>
                        <div class="content">
                                <div id="login">
                                    <h5 class="h5 underline">Login here</h5>
    
                                    <div class="form-group">
                                        <label for="username">Username: </label>
                                        <input type="text" class="form-control form-control-sm" id="username" placeholder="please fill in username " />
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password: </label>
                                        <input type="password " class="form-control form-control-sm " id="password" placeholder="please fill in password " />
                                        <a href="dashboard.html"> <button class="btn btn-success" type="button" >Login</button> </a>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </section>
        <section class="banner">

                      <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active" data-interval="10000">
                                <img src="images/ghana.png" class="d-block w-80 mx-auto" alt="...">
                              </div>
                              <div class="carousel-item" data-interval="10000">
                                <img src="images/ghana.png" class="d-block w-80 mx-auto" alt="...">
                              </div>
                              <div class="carousel-item" data-interval="10000">
                                <img src="images/ghana.png" class="d-block w-80 mx-auto" alt="...">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                          
        </section>
        <section class="about-us">
            <div class="about-div">
            <h3>This is What we do</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptates doloremque assumenda molestiae quis illum perferendis, nobis provident obcaecati quisquam nihil dolorem velit quod nam optio ea nesciunt tempora dolorum!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas cumque ipsa aut ex incidunt? Quia omnis quibusdam dignissimos accusamus optio ratione in, officiis, quam facere deserunt eum excepturi vitae quasi.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti et ipsa nihil. Labore velit vitae exercitationem incidunt nam eaque cum iusto cumque repellendus nemo, accusantium ad reiciendis quibusdam similique beatae
            </p>
            <hr>
            <h3>our vision</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptates doloremque assumenda molestiae quis illum perferendis, nobis provident obcaecati quisquam nihil dolorem velit quod nam optio ea nesciunt tempora dolorum!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas cumque ipsa aut ex incidunt? Quia omnis quibusdam dignissimos accusamus optio ratione in, officiis, quam facere deserunt eum excepturi vitae quasi.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti et ipsa nihil. Labore velit vitae exercitationem incidunt nam eaque cum iusto cumque repellendus nemo, accusantium ad reiciendis quibusdam similique beatae
            </p>
            <hr>
            <h3>our mission</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptates doloremque assumenda molestiae quis illum perferendis, nobis provident obcaecati quisquam nihil dolorem velit quod nam optio ea nesciunt tempora dolorum!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas cumque ipsa aut ex incidunt? Quia omnis quibusdam dignissimos accusamus optio ratione in, officiis, quam facere deserunt eum excepturi vitae quasi.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti et ipsa nihil. Labore velit vitae exercitationem incidunt nam eaque cum iusto cumque repellendus nemo, accusantium ad reiciendis quibusdam similique beatae
            </p>
        </div>
        </section>
        <section class="footer bg-light">
                <footer class="footerSection py-5">
                        <div class="social">
                            <ul class="socialMedia">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <img src="images/facebook.png" alt="facebook" class="icons">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <img src="images/twitter.png" alt="twitter" class="icons">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com" target="_blank">
                                        <img src="images/linkedin.png" alt="linkedin" class="icons">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="copy">copyright: team !null</div>
                    </footer>

        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="" async defer></script>
</body>

</html