<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
</head>

<body>
    <div class="main-container">
        <section>
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1 logo">SecretApp</span>
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png" alt="header logo" height="100px" class="header-image">
            </nav>
        </section>

        <section class="heroSection">
            <div class="jumbotron jumbotron-fluid d-flex justify-content-around">
                <div class="d-inline-flex flex-column col-md-8 col-lg-5">
                    <h1 class="pl-4 pb-0">Secret App</h1>
                    <h3 class="pl-4">Eduction is the most thing that can make the world better</h3>
                    <hr class="ml-2">
                    <p class="px-4 py-md-0 py-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptate quaerat, ipsa iste, ipsam eligendi aliquid nemo distinctio dolorem exercitationem cum dicta. Quasi amet perspiciatis totam corrupti dicta impedit eum?
                    </p>
                    <div class="d-flex justify-content-around d-md-block pl-4">
                        <a class="pink heroButton" href="#" role="button">Come Join Together</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="" async defer></script>
</body>

</html>