<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="content" class="jumbotron jumbotron-fluid">
        <div id="signup-school">
            <h2 class="h2">Signup School</h2>

            <div class="form-group ">
                <label for="username ">Username:</label>
                <input type="text " class="form-control form-control-sm " id="username-school " placeholder="please fill in username " />
            </div>

            <div class="form-group ">
                <label for="password ">Password:</label>
                <input type="password " class="form-control form-control-sm " id="password-school " placeholder="please fill in password " />
            </div>

            <div class="form-group ">
                <label for="email ">Email:</label>
                <input type="email " class="form-control form-control-sm " id=" email-school " placeholder="please fill in email " />
            </div>

            <div class="form-group ">
                <label for="name ">Name:</label>
                <input type="text " class="form-control form-control-sm " id=" name-school " placeholder="please fill in full name " />
            </div>

            <div class="form-group ">
                <label for="subject ">Subject:</label>
                <input type="text " class="form-control form-control-sm " id=" subject-school " placeholder="please fill in subject " />
            </div>

            <div class="form-group">
                <button class="btn btn-outline-secondary" type="button" id="register">Register</button>
            </div>
        </div>
    </div>
</body>

</html>