<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="signup-tab.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="content">
        <div id="tabs">
            <ul>
                <li><a href="#signup-teacher">Signup as a teacher!</a></li>
                <li><a href="#signup-school">Signup as a school</a></li>
            </ul>
            <div id="signup-teacher">
                <h2 class="h2">Signup Teacher</h2>
                <div class="form-group ">
                    <label for="username ">Username:</label>
                    <input type="text " class="form-control form-control-sm" id=" username-teacher " placeholder="please fill in username " required />
                </div>

                <div class="form-group ">
                    <label for="password ">Password:</label>
                    <input type="password " class="form-control form-control-sm" id=" password-teacher " placeholder="please fill in password " required />
                </div>

                <div class="form-group ">
                    <label for="email ">Email:</label>
                    <input type="email " class="form-control form-control-sm" id="email-teacher" placeholder="please fill in email " required />
                </div>

                <div class="form-group ">
                    <label for="name ">Name:</label>
                    <input type="text " class="form-control form-control-sm" id=" name-teacher " placeholder="please fill in full name " required />
                </div>

                <div class="form-group ">
                    <label for="subject ">Subject:</label>
                    <input type="text " class="form-control form-control-sm" id=" subject-teacher " placeholder="please fill in subject " required />
                </div>

                <div class="form-group">
                    <button class="btn btn-outline-secondary" type="button" id="signup-teacher">Signup Teacher</button>
                </div>
            </div>
            <div id="signup-school">
                <h2 class="h2">Signup School</h2>

                <div class="form-group ">
                    <label for="username ">Username:</label>
                    <input type="text " class="form-control form-control-sm " id="username-school " placeholder="please fill in username " required />
                </div>

                <div class="form-group ">
                    <label for="password ">Password:</label>
                    <input type="password " class="form-control form-control-sm " id="password-school " placeholder="please fill in password " required />
                </div>

                <div class="form-group ">
                    <label for="email ">Email:</label>
                    <input type="email " class="form-control form-control-sm " id=" email-school " placeholder="please fill in email " required />
                </div>

                <div class="form-group ">
                    <label for="name ">Name:</label>
                    <input type="text " class="form-control form-control-sm " id=" name-school " placeholder="please fill in full name " required />
                </div>

                <div class="form-group ">
                    <label for="subject ">Subject:</label>
                    <input type="text " class="form-control form-control-sm " id=" subject-school " placeholder="please fill in subject " required />
                </div>

                <div class="form-group">
                    <button class="btn btn-outline-secondary" type="button" id="signup-school">Signup School</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>