<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EduConnect</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/teacher-profile.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="scripts/teacherprofile.js"></script>
    
    
</head>

<body>
    <div class="profile">
        <button class="Home"><a href="landing-page.html">Home</a></button>
        <div id="teacher-profile">
            <div id="profile-box">
                <div id="profile-details">
                        <div>
                            <img src="https://ca.slack-edge.com/T0J8THHCZ-UNAV54TQC-5e3a6d306b37-512" alt="profile-picture" class="profile-picture" />
                            </div>
                            <div>
                    <h3 class="name">Wulton Tsong</h3>
                    <p class="email">18minus1@isthebest.com</p>
                    <p class="subjects">English, Mandarin, Math, Java</p>
                    <p class="city">Available</p>
                    <p class="country">Taiwan</p>
                    <button class="btn btn-success card-text">Email me</button>
                </div>
                </div>
                <div class="about-me">
                <h3>About Me:</h3>
                <p class="bio">
                    I have a real passion for teaching and travelling! I am a multi talented teacher who is known to inspire young adults to be their best!
                </p>
            </div>
            </div>
        </div>
    </div>


</body>

</html>