<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#datepicker").datepicker();
        });
    </script>
</head>

<body>
    <h2 class="h2">Please pick a date</h2>

    <div class="form-group">
        <label for="datepicker-startdate">Date Start Date</label>
        <input type="text" id="datepicker-startdate">
    </div>

    <div class="form-group">
        <label for="datepicker-enddate">Date Start Date</label>
        <input type="text" id="datepicker-enddate">
    </div>
</body>

</html>