<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="content" class="jumbotron jumbotron-fluid">
        <div id="teacher-profile" class="row">
            <div id="profile-picture" class="span-8">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fa%2Fa0%2FPierre-Person.jpg%2F1200px-Pierre-Person.jpg&f=1&nofb=1" alt="profile-picture" class="profile-picture" />
            </div>
            <div class="card" id="bio">
                <div class="card-header">
                    <h3 class="card-title">Information about the teacher</h3>
                </div>
                <ul class="list-group" id="profile-details">
                    <p class="card-text">Name: name</p>
                    <p class="card-text">Age: age</p>
                    <p class="card-text">Email: email</p>
                    <p class="card-text">Subject: subject</p>
                    <p class="card-text">Rating: rating</p>
                    <p class="card-text">Available: available</p>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>